.grid{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.row{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    height: 98;
}

.gridBlock{
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
