.grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    border-width: 1px;
    justify-content: center;
    align-content: center;
}

.gridBlock{
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    max-width: 500px;
}